@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

a {
  color: #fff;
  text-decoration: none !important;
}

a:hover {
  color:#b80d43;
  
}

ul {
  list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0c17;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: #fff 1px dotted;
}

#navbar .main-item {
    color: #fff;
}

.user-input {
    max-width: 1140px;
    margin: 4vw auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #171724;
}

.user-input h1 {
    color: #fff;
    padding-bottom: 1rem;
}

.user-input .search input {
    display: block;
    width: 100%;
    border: 1px solid rgb(2, 34, 56);
    padding: .5rem 1rem;
    margin-right: 1rem;
}

.user-input #search-btn {
    color: #fff;
    background-color: #0a95d6;
    margin-top: 0.5rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
}

.search {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.movies-row {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.movies-row:last-child {
    text-align: center;
}

.movies-row .movie {
    padding-bottom: 2rem;
    /*background-color: #1b1b24;*/
}

.movies-row .movie .details {
    color: #fff;
    background-color: #0a95d6;
    border-radius: 5%;
    border: none;
    margin-top: 2rem;
    padding: .5rem 1rem;
    cursor: pointer;
    text-decoration: none;
}

.movies-row .movie img {
    width: 285px;
    height: 400px;
    display: block;
    padding: 1rem;
}

.movie-title {
    color: #fff;
    margin-bottom: 1rem;
}

.helper {
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
  }

.btn-light {
    display: inline-block;
    width: 20%;
    margin-top: 0.5rem;
    background: #fff;
    color: #171724;
    margin-top: 1rem;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    border-radius: 5%;
    border: none;
    cursor: pointer;
  }

  @media screen and (max-width: 928px) {
    .user-input .search input,
    .user-input #search-btn,
    .btn-light,
    .search {
    display: block;
    }
    .movies-row {
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }
    
    
  }

  @media screen and (max-width: 580px) {
    .movies-row {
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
  }